@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cedarville+Cursive&family=Great+Vibes&family=Jura:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Meie+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&display=swap');
.haut-section-deux {
    background-color: #e9d7c5; 
    width: 100%; 
    padding: 20px; 
    margin-top: 0;
    
  
}

.text-deux {
    height: 300px;
    color: #513018;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: start; 
    flex-direction: column; 

   
}

.textun-deux {
    font-size: 20px; 
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings: "wdth" 100;
    
}


.textdeux-deux{
    margin-top: 30px; 
    font-size: 20px; 
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings: "wdth" 100;
   
}



@media (max-width: 768px) {
    .text {
        height: auto; 
        padding: 20px; 
    }

    .textun,
    .textdeux {
        font-size: 18px; 
        line-height: 28px; 
    }
}

@media (max-width: 480px) {
    .textun,
    .textdeux {
        font-size: 16px; 
        line-height: 24px;
    }

    .text {
        padding: 10px;
    }
}
