@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cedarville+Cursive&family=Great+Vibes&family=Jura:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Meie+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&display=swap');
.paralax-container {
    position: relative !important;
    overflow: hidden !important;
    width: 100%;
    height: 1000px; 
    margin: 0 auto; /* Centrage horizontal */
}


.paralax-video {
    position: absolute; /* Positionnement absolu pour occuper tout l'espace */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
}

video {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 2; /* Mettre le contenu au-dessus de la vidéo */
}

.russian-font h1{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    font-size: 70px; 
    color: #fefafa;
}

.default-font h1{
    font-size: 70px; 
    color: #fefafa;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;

}

.default-subtitle {
    margin-top: 30px;
    color: #fefafa;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 3; 
    display: block; 
}
.russian-subtitle{
    color: #fefafa;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Styles du bouton audio */
.paralax-container button {
    margin-top: 30px;
    background: transparent;
    border: 0.3px solid #fff;
    border-radius: 50%;
    width: 65px;
    height: 65px;
   
    cursor: pointer;
    display: inline-block;
   
    position: relative;
    z-index: 2; 
}

.paralax-container button:hover {
    opacity: 0.8;
}




.image-mobile {
    display: none; 
    width: 100%;
    height: auto;
}
.paralax-video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 31, 38, 0.5); 
    /* avec 50% de transparence */




    z-index: 1; 
}


@media (max-width: 1024px) {
   
    .paralax-container {
        height: 700px; 
    }
    
    .paralax-video {

        height: 700px; 
    }

    .default-font h1,
    .russian-font h1  {
        font-size: 60px; 
    }

    .default-subtitle,
    .russian-subtitle {
        font-size: 14px; 
    }
}

@media (max-width: 600px) {
 
    .paralax-container {
        height: 400px; 
    }
    
    .paralax-video {
        height: 400px; 
    }
    .paralax-video::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
    }
    .parallax-content { 
        padding: 5px; 
       
    }

    .default-font h1,
    .russian-font h1 {
        font-size: 40px; 
        margin-bottom: 5px; 
    }

    .default-subtitle,
    .russian-subtitle{
        margin-top: 5px;
        font-size: 10px; 
        margin-bottom: 10px; 
    }

    .paralax-container button {
        margin-top: 10px;
    }

}
