.haute-section-arttherapie{
    width: 100%;
    background-color: #CEDEF2;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    color: #513018;
    font-size: 25px !important;
}
.texte-art-therapy{
    padding: 30px;
    color: #513018;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}