@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Meie+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.haute-section-externalization{
    width: 100%;
    background-color: #CEDEF2;
    padding: 80px 20px;
    display: flex;
    justify-content: center; 
    color: #513018;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px !important;
   

}

.texte-externalization{
    padding: 30px;
    color: #513018;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}