.section {
  margin-bottom: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.about-deux {
  margin-bottom: 50px;
}

.methodes {
  margin-top: 50px;
  margin-bottom: 250px;
}

.prix {
  margin-top: 50px;
  margin-bottom: 100px;
}

.contact {
  margin-top: 50px;
}

.footer {
  margin-top: 10px; 
}
